<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645344132828-643hteia8sm0ue4mki3b9tak08ncqnb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645344132828-643hteia8sm0ue4mki3b9tak08ncqnb1</string>
	<key>API_KEY</key>
	<string>AIzaSyCh7tXkawBDcdDyFB5HqxN7q7uqfF6SJtM</string>
	<key>GCM_SENDER_ID</key>
	<string>645344132828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proj1</string>
	<key>PROJECT_ID</key>
	<string>flutter-proj-1-b3d72</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-proj-1-b3d72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645344132828:ios:c1c1fa86fdf2d8b02abe19</string>
</dict>
</plist>